.navigation-col-themes {
    border-bottom: 1px solid lightgray;
    padding-left: 0;
    padding-right: 0;

    /*&:before {
        border-bottom: 2px solid gray;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.9s ease-in-out 0s;
        transition: all 0.9s ease-in-out 0s;
    }
    &.active {
        border-bottom: 2px solid gray;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        transition: all 0.9s ease-in-out 0s;
    }*/
    &:after {
        /*content: "";
        position: absolute;
        //z-index: -1;
        left: 0;
        right: 100%;
        //bottom: -3px;
        background: #000;
        height: 2px;
        transition-property: left;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;*/
        display:block;
        content: '';
        border-bottom: 2px solid gray;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in-out;
    }
    &.active:after {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.topics {
    border-bottom: 1px solid lightgray;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 80px;
}

.topics-row {
    transform: scaleX(0.2);
    transform-origin: right;
    transition: transform 350ms ease-in-out;

    /*width: 0;
    -webkit-transition: width 200ms ease-out;
    transition: width 200ms ease-out;*/

    &.active {
        //width: 100%;
        transform: scaleX(1);
        transform-origin: left;
    }
}

.navigation-link {
    text-align: center;
    cursor: pointer;
    padding-top: 20px;

    &.active {
        //border-bottom: 2px solid gray;
        //font-weight: bold !important;
        font-weight: 400;
    }

    &:hover {
        font-weight: 400;
        /*color: #ff6600;*/
    }
}

.topic-link {
    text-align: center;
    cursor: pointer;
    padding-top: 20px;
    visibility: hidden;

    &.active {
        visibility: visible;
        font-weight: 400;
    }

    &:hover {
        font-weight: 400;
        /*color: #ff6600;*/
    }
}
